body {
  background-color: rgb(238, 238, 238);
  color: black;
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.navbutton {
  padding: 20px;
  color: white;
}
header {
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(165, 0, 0);
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

h1 {
  font-size: 2em;
}

#backtotop {
  scroll-padding-top: 300px;
}

#nav {
  border: 2px solid rgb(0, 0, 0);
  width: 250px;
  height: 295px;
  padding: 0.5rem;
  margin: 2rem;
  background-color: rgb(214, 214, 214);
}

#navtitle {
  text-align: center;
}

#get-api {
  background-color: rgb(214, 214, 214);
  height: 100px;
}

#post-articles {
  background-color: rgb(214, 214, 214);
}

#get-users {
  background-color: rgb(214, 214, 214);
}

#get-comments-by-article {
  background-color: rgb(214, 214, 214);
}

#post-comment {
  background-color: rgb(214, 214, 214);
}

#get-comment-by-id {
  background-color: rgb(214, 214, 214);
}

#get-user-by-username {
  background-color: rgb(214, 214, 214);
}

#delete-article {
  background-color: rgb(214, 214, 214);
}
